@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Lavendar: #CBD5EB;
  --Black: #232323;
  --Gotham: #243D66;
  --Gradient: linear-gradient(#CBD5EB,#F0D9CC);
  --foreground: #171717fa;
  --headings: "Zilla Slab", serif;
  --body-text: "Inter", serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(#243D66, #232323);
    --foreground: var(--Lavendar);
  }
}

body {
  color: var(--foreground);
  background: var(--Gradient);
  font-family: var(--body-text);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--headings);
  }
}
