@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Black: #232323;
  --Gotham: #243D66;
  --background: linear-gradient(#CBD5EB,#F0D9CC);
  --foreground: #171717fa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(#243D66,#232323);
    --foreground: --Black;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
